<section class="container banner hidden-xs hidden-sm">
  <div class="col-md-12 values-banner">
    <div class="row>">
      <div class="col-md-8 banner-header-left">
        <h1>Our Values</h1>
      </div>
      <div class="col-md-4">
        <div class="header-passage" style="position: relative; top: 75px; color:#fff">
          <p>Therefore, if anyone is in Christ, he is a new creation, The old has passed away; behold, the new has come..<br><br> 2 Corinthians 5:17</p>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="container">
  <div class="col-md-12 headline text-center">
    <h2><span style="color:#9EB6A6">Because the World is Out There</span></h2>
  </div>
  <div class="col-md-10 col-md-offset-1 body-copy">

    <p>We value people. And we profoundly value the unique, God given plan and purpose for every human being. We want everyone to have the opportunity to explore, come to discover and then ultimately embrace their uniqueness - spiritually, mentally, physically, relationally and financially. And we want to give them the life-long tools they need to continue growing in those areas while sharing their lives with the world around them.
    </p>

  </div>

  <div class="col-md-12"><hr></div>

  <div class="col-md-12 headline text-center">
    <h2><span class="orange">We Claim Jesus Christ As Our Lord</span></h2>
  </div>

  <div class="col-md-10 col-md-offset-1 body-copy">

    <p>We believe the 66 books of the old and new testaments are the word of God, inspired by the Holy Spirit, and  written by chosen men of God. We believe the Bible is true without any mixture of error in its original manuscripts, it remains absolutely relevant today and it in itself, is a completed work. We believe in the deity of Christ, salvation by grace, the resurrection of Christ, the Gospel, monotheism, and the Trinity.
    </p>

    <p class="discover">Discover a life, well lived.</p>

  </div>
</section>

<section class="container block">
  <div ui-view="footer_programs_thin"></div>
</section>
