<section class="container">
    <div class="col-md-2 sidebar">
        <div ui-view="sidebar_about"></div>
    </div>
    <div class="col-md-9 col-md-offset-1">
        <h2>About Us</h2>

        <p>We value people. And we profoundly value the unique, God given plan and purpose for every human being. We
            want everyone to have the opportunity to explore, come to discover and then ultimately embrace their
            uniqueness - spiritually, mentally, physically, relationally and nancially. And we want to give them the
            life-long tools they need to continue growing in those areas while sharing their lives with the world around
            them.
        </p>
    </div>
</section>
