<div class="col-md-1"></div>

<div class="col-md-2" style="height: 30px">
  <div class="link-outer spi">
    <div class="title">
      <p>Spiritually</p>
    </div>
    <a ui-sref="spiritually">
      <div class="right-link">
        <p>More</p>
      </div>
    </a>
  </div>
</div>

<div class="col-md-2" style="height: 30px">
  <div class="link-outer men">
    <div class="title">
      <p>Mentally</p>
    </div>
    <a ui-sref="mentally">
      <div class="right-link">
        <p>More</p>
      </div>
    </a>
  </div>
</div>

<div class="col-md-2" style="height: 30px">
  <div class="link-outer phy">
    <div class="title">
      <p>Physically</p>
    </div>
    <a ui-sref="physically">
      <div class="right-link">
        <p>More</p>
      </div>
    </a>
  </div>
</div>

<div class="col-md-2" style="height: 30px">
  <div class="link-outer rel">
    <div class="title">
      <p>Relationally</p>
    </div>
    <a ui-sref="relationally">
      <div class="right-link">
        <p>More</p>
      </div>
    </a>
  </div>
</div>

<div class="col-md-2" style="height: 30px">
  <div class="link-outer fin">
    <div class="title">
      <p>Financially</p>
    </div>
    <a ui-sref="financially">
      <div class="right-link">
        <p>More</p>
      </div>
    </a>
  </div>
</div>
