<section class="container banner hidden-xs hidden-sm">
  <div class="col-md-12 home-banner">
    <div class="row>">
      <div class="col-md-9 banner-header-left">
        <h1>Discover</h1>
      </div>
      <div class="col-md-3">
        <div class="header-passage" style="position: relative; top: 75px; color:#fff">
          <p>Your word is a lamp unto my feet and a light unto my path.<br><br>Psalm 119:105
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="col-md-12 headline text-center">
    <h2><span class="orange">A Fully Integrated,</span> <span class="blue">DISTINCTLY CHRISTIAN</span><br> <span class="orange">Approach To Lifestyle Coaching.</span></h2>
  </div>
  <div class="col-md-10 col-md-offset-1 body-copy">

    <p>What makes us uniquely us? We truly value people. And we profoundly value the unique, God given plan and
       purpose for every human being. We want everyone to have the opportunity to explore, come to discover and then
       ultimately embrace their uniqueness - spiritually, mentally, physically, relationally and financially. And we
       want to give them the life-long tools they need to continue growing in those areas while sharing their
       purpose-filled lives with the world around them. This is who we are – 24/7/365.
    </p>

    <p class="discover">Discover a life, well lived.</p>
  </div>
</section>

<section class="container block">
  <div ui-view="footer_programs_block"></div>
</section>
