<section class="container banner hidden-xs hidden-sm">
  <div class="col-md-12 integrative-banner">
    <div class="row>">
      <div class="col-md-9 banner-header-left">
        <h1>Integrated Health</h1>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="col-md-12 headline text-center">
      <h2><span style="color:#699B40">An Effective Way to Grow</span></h2>
  </div>
  <div class="col-md-10 col-md-offset-1 body-copy">

    <p>We live in an ever-increasing divided world, where our interests are pulling us in too many directions. All too often, they seem to compete for our resources and by doing so, inhibit our ability to succeed. By focusing on an integrative perspective, founded on sound biblical principles, we’re able to make wiser decisions with regards to our overall well-being: spiritually, mentally, physically, relationally and financially.
    </p>

    <p>The key to integrating all aspects of our life is God. Knowing Him, loving Him, entering into a relationship with Him, and believing in the veracity of His word, is crucial. Thankfully, God, the creator of everything has shared his wisdom through His bible. The bible provides an amazing framework for how to live life successfully, and the bible teaches us that we cannot do it alone. We were never meant to be self-sufficient; we were created to be dependent on Him. Through applying God’s word in our life, seeking out professional assistance, and loving God with all our heart and mind, we’ll reach what we ultimately seek: to discover a life, well lived.
    </p>

    <p class="discover">Discover a life, well lived.</p>
  </div>
</section>

<section class="container block">
  <div ui-view="footer_programs_thin"></div>
</section>
