<h3>Research</h3>

<h4>Our Top Four Questions</h4>
<ol>
  <li>What does integrative growth look like spiritually, mentally, physically, relationally, and financially? 2. What does it take to truly succeed in this life and the next with regards to all aspects of our spiritual, mental, physical, relational, and financial lives?
  </li>
  <li>What is needed to have the opportunity to explore, come to discover and then ultimately embrace our individual uniqueness – spiritually, mentally, physically, relationally, and financially?
  </li>
  <li>What are the effects of approaching personal growth synergistically through all areas of life spiritually, mentally, physically, relationally, and financially?
  </li>
</ol>
<p>To answer our questions, we’ll be gathering data from a variety of sources: industry professionals, literature   reviews, the Bible, industry associations, case studies, and through individual input from our community websites. Our goal is to approach this from all professional and personal angles, so the information is as meaningful and usable as possible. All research will be openly published throughout our communities.
</p>
