<section class="container banner hidden-xs hidden-sm">
    <div class="col-md-12 relationship-banner">
        <div class="row>">
            <div class="col-md-8 banner-header-left">
                <h1>Relationally</h1>
            </div>
            <div class="col-md-4">
                <div class="header-passage" style="position: relative; top: 75px">
                    <p>So we, who are many, are one body in Christ, and individually members one of another. <br><br>Romans
                        12: 5
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">

    <div class="col-md-12 headline text-center">
        <h2><span class="blue">You Were Created for Fellowship</span></h2>
    </div>
    <div class="col-md-10 col-md-offset-1 body-copy">
        <p>God is a God of relationships. He created us to fellowship with Him. He wants us to grow in the knowledge and
            understanding of that relationship. He desires close fellowship with us. So much that He invited us to call
            Him Abba Father – a phrase that literally means “Daddy”. God desires healthy earthly relationships for us
            too. To that end He created families, communities and friendships. His desire is for us to fully understand
            and embrace what all of that means. The greatest worship we can offer Him is to love Him with all of our
            heart, soul, mind and strength and to love others in His name.
        </p>

        <p class="discover">Discover a life, well lived.</p>
    </div>
    <div class="col-md-12 headline text-center">
        <p><a ui-sref="contact">Contact Us Today – Discover a life, well lived</a></p>
    </div>

</section>

<section class="container block">
    <div ui-view="footer_programs_thin"></div>
</section>
