<section class="container banner hidden-xs hidden-sm">
    <div class="col-md-12 mentally-banner">
        <div class="row>">
            <div class="col-md-8 banner-header-left">
                <h1>Mentally</h1>
            </div>
            <div class="col-md-4">
                <div class="header-passage" style="position: relative; top: 75px">
                    <p>Who has put wisdom in the innermost being or given understanding to the mind?<br><br>Job 38: 36
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">

    <div class="col-md-12 headline text-center">
        <h2><span class="orange">Renew Your Mind</span></h2>
    </div>
    <div class="col-md-10 col-md-offset-1 body-copy">
        <p>Romans 12: 1-2 Says it so well: Therefore I urge you, brethren, by the mercies of God, to
            present your bodies a living and holy sacrifice, acceptable to God, which is
            your spiritual service of worship. And do not be conformed to this world, but
            be transformed by the renewing of your mind, so that you may prove what the
            will of God is, that which is good and acceptable and perfect. God created
            everything that is you, including your mind. His desire is to renew your mind
            by transforming it to the mind of Christ. We’ll help you on that journey of
            renewal.
        </p>

        <p class="discover">Discover a life, well lived.</p>
    </div>
    <div class="col-md-12 headline text-center">
        <p><a ui-sref="contact">Contact Us Today – Discover a life, well lived</a></p>
    </div>

</section>


<section class="container block">
    <div ui-view="footer_programs_thin"></div>
</section>
