<section class="container banner hidden-xs hidden-sm">
    <div class="col-md-12 financial-banner">
        <div class="row>">
            <div class="col-md-8 banner-header-left">
                <h1>Financially</h1>
            </div>
            <div class="col-md-4">
                <div class="header-passage" style="position: relative; top: 75px; color:#fff">
                    <p>Be anxious for nothing, but in everything by prayer and supplication with thanksgiving let your
                        requests be made known to God.<br><br>Philippians 4:6
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">

    <div class="col-md-12 headline text-center">
        <h2><span class="green"> <br>God Does Not Desire That <br>You Are Anxious About Anything</span></h2>
    </div>
    <div class="col-md-10 col-md-offset-1 body-copy">
        <p>The Bible has a lot to say about money and finances. Wisdom is a key word. We are to be wise with our money.
            We are to make money, save money, spend money, share money with others and give a portion back to God,
            joyfully and sacrificially. The Bible also talks a lot about how we are trust God for our needs. So, what is
            the right balance? How much importance are we to put on money? How much is enough? All great questions.
            We’ll help you explore and understand Biblical principles on the subject.
        </p>

        <p class="discover">Discover a life, well lived.</p>
    </div>
    <div class="col-md-12 headline text-center">
        <p><a ui-sref="contact">Contact Us Today – Discover a life, well lived</a></p>
    </div>

</section>

<section class="container block">
    <div ui-view="footer_programs_thin"></div>
</section>
