<section class="container banner hidden-xs hidden-sm">
    <div class="col-md-12 physical-banner">
        <div class="row>">
            <div class="col-md-8 banner-header-left">
                <h1>Physically</h1>
            </div>
            <div class="col-md-4">
                <div class="header-passage" style="position: relative; top: 75px; color:#fff">
                    <p>For you have been bought with a price: therefore glorify God in your body.<br><br> CorInthians
                        6:19-20
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">

    <div class="col-md-12 headline text-center">
        <h2><span class="purple">Live Your Life to the Fullest</span></h2>
    </div>
    <div class="col-md-10 col-md-offset-1 body-copy">
        <p>In third John he tells us: Beloved, I pray that in all respects you may prosper and be in good health, just
            as your soul prospers. In first Corinthians we are told: your body is a temple. In Isaiah 40 we’re told
            that: God gives strength to the weary, and to him who lacks might He increases power. And also in Isaiah 40
            we’re told: Yet those who wait for the LORD WILL gain new strength; they will mount up with wings like
            eagles, they will run and not get tired, they will walk and not become weary. God is a God of strength –
            spiritually, mentally, relationally, physically and financially. Let us help you get in shape.
        </p>

        <p class="discover">Discover a life, well lived.</p>
    </div>
    <div class="col-md-12 headline text-center">
        <p><a ui-sref="contact">Contact Us Today – Discover a life, well lived</a></p>
    </div>

</section>

<section class="container block">
    <div ui-view="footer_programs_thin"></div>
</section>
