<section class="container banner hidden-xs hidden-sm">
    <div class="col-md-12 spiritual-banner">
        <div class="row>">
            <div class="col-md-8 banner-header-left">
                <h1>SPRITUALLY</h1>
            </div>
            <div class="col-md-4">
                <div class="header-passage" style="position: relative; top: 75px; color:#fff"><p>We are children of God,
                    and if children of God, then heirs – heirs of God and fellow heirs with Christ. <br><br>Romans
                    8:16-18</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">

    <div class="col-md-12 headline text-center">
        <h2><span class="blue">Align With God's Plan for Your Life</span></h2>
    </div>
    <div class="col-md-10 col-md-offset-1 body-copy">
        <p>When God created you he made you unique. He gave you a special “shape”. He created you for his purposes. The
            key to aligning your life with God’s plan for your life – the one He has always intended for you to live –
            is a journey as unique as you are. The answers are found when you purpose to know God better. We’ll help you
            discover your special place in His plan. We’ll come along side you. And, with the help of the Holy Spirit –
            the Helper that God promised to send – help you explore using the Bible, prayer and the people that God has
            put in your life as the foundation.
        </p>

        <p class="discover">Discover a life, well lived.</p>
    </div>
    <div class="col-md-12 headline text-center">
        <p><a ui-sref="contact">Contact Us Today – Discover a life, well lived</a></p>
    </div>

</section>

<section class="container block">
    <div ui-view="footer_programs_thin"></div>
</section>
